body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid-container{
    background-color: white;
    height: 700px;
    width: 700px;
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    
}
.grid-items{
    background-color: black;
    color: white;
    border: 3px solid white;
}
#grid-items9{
    grid-column-start: 1;
    grid-column-end: 3;
}
#grid-items10{
    grid-column-start: 3;
    grid-column-end: 5;
}
#grid-items1{
   text-align: start;
   

}